<div class="panel user-profile">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tasks"></i>My profile</h3>
  </div>
  <div class="panel-body">
    <form name="profileUpdate" class="" role="form" ng-model-options="{ debounce: 500 }">
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>Email Id</span>
          <input ng-maxlength="500" ng-model="myProfile.email" type="email" class="form-control" name="email" id="email"  placeholder="Email Id" ng-disabled="true"/>
          <p ng-show="profileUpdate.email.$error.maxlength && !profileUpdate.email.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i>User name</span>
          <input ng-maxlength="500" ng-model="myProfile.userName" type="text" class="form-control" name="username" id="username"  placeholder="User Name" ng-disabled="true"/>
          <p ng-show="profileUpdate.userName.$error.maxlength && !profileUpdate.userName.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i>First Name</span>
          <input ng-maxlength="500" ng-model="myProfile.firstName" type="text" class="form-control" name="firstname" id="firstname"  placeholder="First Name" ng-disabled="true"/>
          <p ng-show="profileUpdate.firstName.$error.maxlength && !profileUpdate.firstName.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Last Name</span>
          <input ng-maxlength="500" ng-model="myProfile.lastName" type="text" class="form-control" name="lastname" id="lastname"  placeholder="Last Name" ng-disabled="true"/>
          <p ng-show="profileUpdate.lastName.$error.maxlength && !profileUpdate.lastName.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone fa-lg" aria-hidden="true"></i>Phone</span>
          <input ng-maxlength="14" ng-model="myProfile.phoneNumber" type="text" class="form-control" name="phoneNumber" id="phoneNumber"  placeholder="Phone" pattern="\d*"/>
          <p ng-show="!profileUpdate.phoneNumber.$error.maxlength && profileUpdate.phoneNumber.$invalid && !profileUpdate.phoneNumber.$pristine" class="help-block">Invalid phone number. Only numbers allowed.</p>
          <p ng-show="profileUpdate.phoneNumber.$error.maxlength && !profileUpdate.phoneNumber.$pristine" class="help-block">Too long. (maximum 14 characters allowed)</p>
        </div>
      </div>

      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Your Access Type</span>
          <input ng-maxlength="500" value = "{{myProfile.roles.join(', ')}}" type="text" class="form-control" name="roles" id="roles"  placeholder="You currently have no access" ng-disabled="true"/>
        </div>
      </div>

      <!-- Twitter -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i>Twitter</span>
          <input ng-maxlength="500" ng-model="myProfile.twitter" type="text" class="form-control" name="twitter" id="twitter"  placeholder="Twitter link"/>          
          <p ng-show="profileUpdate.twitter.$error.maxlength && !profileUpdate.twitter.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- Facebook -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>Facebook</span>
          <input ng-maxlength="500" ng-model="myProfile.facebook" type="url" class="form-control" name="facebook" id="facebook"  placeholder="Facebook Url"/>
          <p ng-show="profileUpdate.facebook.$invalid && !profileUpdate.facebook.$pristine" class="help-block">Invalid Url</p>
          <p ng-show="profileUpdate.facebook.$error.maxlength && !profileUpdate.facebook.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- Google -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-google fa-lg" aria-hidden="true"></i>Google</span>
          <input ng-maxlength="500" ng-model="myProfile.google" type="url" class="form-control" name="google" id="google"  placeholder="Google Url"/>
          <p ng-show="profileUpdate.google.$invalid && !profileUpdate.google.$pristine" class="help-block">Invalid Url</p>
          <p ng-show="profileUpdate.google.$error.maxlength && !profileUpdate.google.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- GitHub -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-github fa-lg" aria-hidden="true"></i>GitHub</span>
          <input ng-maxlength="500" ng-model="myProfile.github" type="url" class="form-control" name="github" id="github"  placeholder="GitHub Url"/>
          <p ng-show="profileUpdate.github.$invalid && !profileUpdate.github.$pristine" class="help-block">Invalid Url</p>
          <p ng-show="profileUpdate.github.$error.maxlength && !profileUpdate.github.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- Youtube -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i>Youtube</span>
          <input ng-maxlength="500" ng-model="myProfile.youtube" type="url" class="form-control" name="youtube" id="youtube"  placeholder="Youtube Url"/>
          <p ng-show="profileUpdate.youtube.$invalid && !profileUpdate.youtube.$pristine" class="help-block">Invalid Url</p>
          <p ng-show="profileUpdate.youtube.$error.maxlength && !profileUpdate.youtube.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- LinkedIn -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>LinkedIn</span>
          <input ng-maxlength="500" ng-model="myProfile.linkedin" type="url" class="form-control" name="linkedin" id="linkedin"  placeholder="LinkedIn Url"/>
          <p ng-show="profileUpdate.linkedin.$invalid && !profileUpdate.linkedin.$pristine" class="help-block">Invalid Url</p>
          <p ng-show="profileUpdate.linkedin.$error.maxlength && !profileUpdate.linkedin.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- Webpage -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-globe fa-lg" aria-hidden="true"></i>Webpage</span>
          <input ng-maxlength="500" ng-model="myProfile.webpage" type="url" class="form-control" name="webpage" id="webpage"  placeholder="Webpage Url"/>
          <p ng-show="profileUpdate.webpage.$invalid && !profileUpdate.webpage.$pristine" class="help-block">Invalid Url</p>
          <p ng-show="profileUpdate.webpage.$error.maxlength && !profileUpdate.webpage.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- Organisation -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-group fa-lg" aria-hidden="true"></i>Organisation</span>
          <input ng-maxlength="500" ng-model="myProfile.organisation" type="text" class="form-control" name="organisation" id="organisation"  placeholder="Your Company Name"/>
          <p ng-show="profileUpdate.organisation.$error.maxlength && !profileUpdate.organisation.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- Designation -->
      <div class="form-group col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Designation</span>
          <input ng-maxlength="500" ng-model="myProfile.designation" type="text" class="form-control" name="designation" id="designation"  placeholder="Your current/last Designation"/>
          <p ng-show="profileUpdate.designation.$error.maxlength && !profileUpdate.designation.$pristine" class="help-block">Too long. (maximum 500 characters allowed)</p>
        </div>
      </div>

      <!-- Description: User Profile Summary -->
      <div class="form-group  col-lg-12">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-list-alt fa-lg" aria-hidden="true"></i>
            Profile Summary
            <div class="{{!profileUpdate.description.$error.maxlength?'text-success':'text-danger'}}"><i>Left Chars: {{!profileUpdate.description.$error.maxlength?1000 - (myProfile.description && myProfile.description.length) || 0 : 0}}</i></div></span>
          <textarea ng-model="myProfile.description" class="form-control" name="description" id="description"  placeholder="Profile Summary" rows="5" ng-maxlength="1000"></textarea>
          <p ng-show="profileUpdate.description.$error.maxlength && !profileUpdate.description.$pristine" class="help-block">Too long. (maximum 1000 characters allowed)</p>
        </div>
      </div>

      <!-- User Photo Thumbnail -->
      <div class="form-group col-lg-6">
        <div class="thumbnail center-block">
          <img id="user-thumbnail"
            ng-src="{{userThumbnailUrl}}"
            onerror="this.style.display = 'none';"
            onload="this.style.display = 'block';">
        </div>
        <div class="text-center"><span>Recommended Dimensions: 200 X 200 (px)</span></div>
        <button  class="btn btn-primary center-block" ng-click="addUserThumbnail($event)">Upload Photo</button>
      </div>

      <div class="form-group col-lg-6">
        <div class="center-block" ng-show="myProfile.roles && myProfile.roles.indexOf('Authors') < 0">
          <span class="text-success">Do you want to write and publish your own Articles/contents? You need to request for "Author" access.</span>
          </br>
          <a id="request-author-btn" name="requestauthoraccess" class="btn btn-success" href="mailto:info@learnwiseway.com?Subject=AuthorAccess|{{myProfile.email}}&body=Please Provide Author Access to me - {{myProfile.email}}">Request Author Access</a>
        </div>
      </div>

      <!-- Buttons -->
      <div class="form-group col-lg-12">
        <div class="">
          <button ng-disabled="profileUpdate.$invalid || !profileUpdate.$dirty" id="update-profile-btn" name="updateProfile" class="btn btn-primary" ng-click="updateProfileClick($event)">Update Profile</button>
        </div>
      </div>
    </form>
  </div>
  <loader data-is-loading="isUserInfoLoading"></loader>
</div>
