@{
    ViewData["Title"] = "Home Page";
}

<div ui-view=""></div>

<script type="text/javascript">
    var _appConfig = @(Html.Raw((object)ViewData["appConfig"] != null ? ViewData["appConfig"]:"{}"));    
</script>