CMS-webAPI/bin/
CMS-webAPI/obj/
packages/
CMS-Author/node_modules/
CMS-Author/web/node_modules/
CMS-Author/web/target/ 
CMS-merged/CMS_webAPI/obj/
CMS-merged/CMS_webAPI/bin/
CMS-merged/CMS_webAPI/node_modules/
CMS-merged/CMS_webAPI/wwwroot/
CMS-merged/CMS_webAPI_4.5/packages/
CMS-merged/CMS_webAPI_4.5/CMS-webAPI/obj/
CMS-merged/CMS_webAPI_4.5/CMS-webAPI/bin/
CMS-merged/CMS_webAPI_4.5/CMS-webAPI/node_modules/
CMS-merged/CMS_webAPI_4.5/CMS-webAPI/wwwroot/

