<nav class="navbar {{className}}">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-{{name}}">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-brand">
			<span class="pre-header-icon {{preHeaderIconClassName}}"></span>
			<span ng-bind="titleStr"></span>
			<span class="post-header-icon {{postHeaderIconClassName}}"></span>
		</div>
	</div>
	<div class="navbar-collapse collapse" id="navbar-collapse-{{name}}">
		<ul class="nav navbar-nav">
			<li class="{{selectedItemName===item.name? 'active': ''}}" ng-repeat="item in items">
				<a href="#"
					title="{{item.title}}"
					ui-sref="{{stateName}}({n: '{{item.name}}'})"
					ng-click="onItemClick($event, item)"
					data-toggle="collapse"
					data-target="#navbar-collapse-{{name}}.in">
					<span class="{{itemIconClassNamePre}}"></span>
					<span ng-bind="item.title" ></span>
					<span class="{{itemIconClassNamePost}}"></span>
				</a>
			</li>
			<li class="{{selectedItemName==='quizs'? 'active': ''}}">
				<a href="#"
					title="Test your Knowledge"
					ui-sref="pub.quizs()"
					ng-click="onItemClick($event, {name: 'quizs', title: 'Test your Knowledge'})"
					data-toggle="collapse"
					data-target="#navbar-collapse-quizs.in">
					<span class="fa fa-quora"></span>
					<span>Test your Knowledge</span>
					<span class="{{itemIconClassNamePost}}"></span>
				</a>
			</li>
		</ul>
		<loader data-at-body="false" data-is-loading="isLoading"></loader>
	</div>
</nav>