<div class="dynamic-form">
    <form name="dynamicForm{{name}}" class="" role="form">
        <div class="col-sm-12" ng-show="!isPreviewMode">
            <a class="link" href="#" ng-click="toggleExpand($event)">
                <span class="fa fa-{{isExpandAll?'compress': 'expand'}}"></span>
                {{isExpandAll?'Collapse All': 'Expand All'}}
            </a>
            <div class="root-node">
                <div class="node" ng-repeat="(key, node) in schemaObj.properties">
                    <span class="expand-icon fa fa-{{node.properties?'plus' : 'cog'}}" data-target="{{node.properties?'.node-container#' + key : ''}}" data-toggle="collapse"></span> 
                    <span class="property-name">
                        <input type="text" placeholder="Property Name" ng-model="node.name">
                    </span>
                    
                    <span class="node-container inline collapse in" id="{{key}}" ng-show="!node.properties">
                        :    
                        <span class="property-value">                            
                                <textarea placeholder="undefined" ng-model="node.value" ng-if="node.type==='string'" row="1"></textarea>        
                            <input type="number" placeholder="numeric value..." ng-model="node.value" ng-if="node.type==='number'">
                            <input type="checkbox" ng-model="node.value" ng-if="node.type==='boolean'">         
                        </span>
                    </span>
                        
                    <div class="node-container collapse in" id="{{key}}" ng-show="node.properties">    
                        <span class="property-value">                            
                            <div class="node"
                                ng-repeat="(key, node) in node.properties"
                                ng-include="'core/dynamic-form-node.html'">                
                            </div>            
                        </span>
                    </div>
                </div>
            </div> 
        </div>
        <div class="form-group" ng-show="isPreviewMode">
            <maximize-control 
                data-is-maximized=""
                data-top="28px"
                data-right="18px"
                data-left=""
                data-bottom=""
                data-on-maximize="onAppConfigMaximizeSection"
                data-on-restore="onAppConfigRestoreSection">      
            </maximize-control>

            <label class="control-label" for="outputJson">Output JSON</label>
            <textarea rows="20" class="form-control" name="outputJson" ng-model="outPutJsonString"></textarea>
        </div>
        <button type="button" class="btn btn-primary" ng-click="onSaveClick($event)">
            <span class="fa fa-save"></span>
            Save
        </button>
        <button type="button" class="btn btn-primary" ng-click="onPreviewClick($event)">
                <span class="fa fa-{{isPreviewMode?'wpforms': 'television'}}"></span>
            {{isPreviewMode?'Form View': 'JSON View'}}
        </button>
    </form>    
</div>