<div class="jumbotron">
    <h1>Learn Wise Way </h1>
    <h2>- Wise Learnings</h2>
    <p class="lead">Free Learnings - CBSE Board Study Material for all classes 6-12 and all subjects including Physics, 
    Maths, Chemistry, Biology, English, SST. CBSE syllabus, Free CBSE Sample Papers, CBSE notes, Text book solutions, 
    online tests, guess papers, model question papers, CBSE news and updates on Learnwiseway.com. 
    Get Access to CBSE Solutions, Online Tests, Guess Papers etc for free at Learnwiseway.com. 
    A complete guide for CBSE students from pre-school to class-12. CBSE Board Date Sheet and latest News andfree Study Material for all classes.</p>
    <p><a href="http://www.learnwiseway.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Want to use LearnWiseWay APIs?</h2>
        We are Happy to help you:
        <p><a class="btn btn-default" href="mailto:learnwiseway@gmail.com">Contact us &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Learn JavaScript Frameworks and UI, Front End development.</h2>
        <p>The popularity of JavaScript has led to a very vibrant ecosystem of technologies, frameworks, and libraries. 
        Learn most popular javascript frameworks on learnwiseway.com and get yourself loaded with Angular JS, React JS, Node JS, ECMA 6, TypeScript etc.</p>
        <p><a href="http://ui.learnwiseway.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
