<div class="category-list">
	<ul class="media-list list-view" ng-show="!viewMode || viewMode === 'list'">
		<li class="media {{selectedItem && selectedItem.categoryId === item.categoryId ? 'active': ''}}" ng-repeat="item in items | filter: itemFilter" on-ng-repeat-item="onRepeatItemsLoaded">
			<div class="media-left">
				<a href="#" ng-click="itemClick($event, item)">
					<span class="media-object label label-info" ng-bind="item.categoryId"></span>
				</a>
			</div>
			<div class="media-body">
				<a href="#" ng-click="itemClick($event, item)">
					<h5 class="media-heading text-primary" ng-bind="item.title"></h5>
				</a>
				<p ng-bind-html="item.description" class="small description"></p>
			</div>
		</li>
	</ul>
<!-- inline Mode-->
	<ul class="media-list inline-view" ng-show="viewMode === 'inline'">
		<li class="media {{selectedItem && selectedItem.categoryId === item.categoryId ? 'active': ''}}" ng-repeat="item in items | filter: itemFilter" on-ng-repeat-item="onRepeatItemsLoaded">
			<div class="media-left">
				<a href="#" ng-click="itemClick($event, item)">
					<span class="media-object label label-info"></span>
				</a>
			</div>
			<div class="media-body">
				<a href="#" ng-click="itemClick($event, item)">
					<h5 class="media-heading text-primary" ng-bind="item.title"></h5>
				</a>
			</div>
		</li>
	</ul>
<!-- Grid Mode-->
	<ul class="row grid-view" ng-show="viewMode === 'grid'">
		<li class="col-sm-3 thumbnail {{selectedItem && selectedItem.categoryId === item.categoryId ? 'active': ''}}" ng-repeat="item in items | filter: itemFilter" on-ng-repeat-item="onRepeatItemsLoaded">
			<div class="media-left">
				<a href="#" ng-click="itemClick($event, item)">
					<span class="media-object label label-info"></span>
				</a>
			</div>
			<div class="media-body">
				<a href="#" ng-click="itemClick($event, item)">
					<h5 class="media-heading text-primary" ng-bind="item.title"></h5>
				</a>
			</div>
		</li>
	</ul>
</div>