<div>
	<inline-search></inline-search>
	<ul class="media-list">
		<li class="media" ng-repeat="content in contentItems | filter: contentFilter" on-ng-repeat-item="onRepeatItemsLoaded">
			<div class="media-left">
				<a href="#" ng-click="onClick($event, content)">
					<span class="media-object label label-info" ng-bind="content.authorContentId"></span>
				</a>
			</div>
			<div class="media-body">
				<a href="#" ng-click="onClick($event, content)">
					<h5 class="media-heading text-primary" ng-bind="content.title"></h5>
				</a>
				<p ng-bind-html="content.shortDescription" class="small short-description"></p>
				<span ng-if = "content.updatedDate" title="Last Updated">
					<span class="glyphicon glyphicon-pencil"></span>
					<span class="label label-default" ng-bind="content.updatedDate.toLocaleString()"></span>
				</span>
				<span ng-if = "content.publishedDate" title="Last Published">
					<span class="glyphicon glyphicon-save"></span>
					<span class="label label-default" ng-bind="content.publishedDate.toLocaleString()"></span>
				</span>
			</div>
		</li>
	</ul>
</div>