<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tasks"></i>Administrator Panel</h3>
  </div>
  <div class="panel-body">
    <div class="panel user-roles-section">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i>Manage user Roles</h3>
      </div>
      <div class="panel-body">
        <form name="userRolesForm" class="" role="form">
          <div class="form-group">
            <label class="form-label">User Name or Email Id: </label>
            <input type="text" class="form-control" ng-model="userRolesViewModel.userName" name="userName" id="userName" required/>
            <p ng-show="forgotPasswordForm.userName.$invalid && !forgotPasswordForm.userName.$pristine && forgotPasswordForm.userName.$error.required" class="help-block">User Name/Email is required.</p>
          </div>

          <button ng-disabled="!userRolesViewModel.userName" type="button" class="btn btn-primary" ng-click="getUserRoles($event)">Get Roles</button>

          <div class="form-group">
            <label class="control-label" for="userRoles">Selected Roles</label>
            <ui-select id="user-roles-id" name="userRoles" class="" ng-model="userRolesViewModel.roles" close-on-select="false" sortable="true" required multiple>
              <ui-select-match placeholder="Select Roles...">
                <span ng-bind="$item"></span>
              </ui-select-match>
              <ui-select-choices repeat="role in (availableRoles | filter: $select.search) track by role">
                <span ng-bind="role"></span>
              </ui-select-choices>
            </ui-select>
            <span class="help-block" ng-if="contentForm.userRoles.$invalid">* required. Select atleast one role</span>
          </div>

          <button ng-disabled="!userRolesViewModel.userName || !userRolesViewModel.roles.length" type="button" class="btn btn-primary" ng-click="setUserRoles($event)">Assign Roles</button>
        </form>
        <loader data-is-loading="isUserRolesProcessing"></loader>
      </div>
    </div>

    <div class="panel cache-section">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i>Reset Cache</h3>
      </div>
      <div class="panel-body">
        <form name="userRolesForm" class="" role="form">

          <div class="form-group">
            <label class="control-label" for="userRoles">Cached Requests</label>
            <ui-select id="cached-keys" name="cachedKeys" class="" ng-model="selectedCachedkey" close-on-select="false" sortable="true" required>
              <ui-select-match placeholder="Select a key...">
                <span ng-bind="$item"></span>
              </ui-select-match>
              <ui-select-choices repeat="cacheKey in (cachedRequestKeys | filter: $select.search) track by cacheKey">
                <span ng-bind="cacheKey"></span>
              </ui-select-choices>
            </ui-select>
            <span class="help-block" ng-if="contentForm.userRoles.$invalid">* required. Select a key.</span>
          </div>

          <button ng-disabled="!selectedCachedkey" type="button" class="btn btn-primary" ng-click="clearCache($event)">Clear Cache</button>
          <button ng-disabled="!cachedRequestKeys || (cachedRequestKeys && cachedRequestKeys.length <=0)" type="button" class="btn btn-primary" ng-click="clearCacheAll($event)">Clear Cache All</button>
        </form>
        <loader data-is-loading="isCacheProcessing"></loader>
      </div>
    </div>

    <!-- Another Section -->
    <div class="panel another-section">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i>Another section to be added</h3>
      </div>
      <div class="panel-body">
        <p> Anther Section to be added </p>
      </div>
    </div>

    <loader data-is-loading="isPageLoading"></loader>
  </div>
</div>
