<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tasks"></i>Change Password</h3>
  </div>
  <div class="panel-body">

    <form name="changePasswordForm" class="" role="form">

    	<!-- Old Password-->
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input ng-model="changePasswordModel.oldPassword" type="password" class="form-control" name="oldpassword" id="oldpassword"  placeholder="Current Password" required ng-minlength="6" ng-maxlength="100"/>
        </div>
        <p ng-show="changePasswordForm.oldpassword.$invalid && !changePasswordForm.oldpassword.$pristine && changePasswordForm.oldpassword.$error.required" class="help-block">Old Password is required.</p>
        <p ng-show="changePasswordForm.oldpassword.$error.maxlength" class="help-block">Password is too long. (maximum 100 characters allowed)</p>
        <p ng-show="changePasswordForm.oldpassword.$error.minlength" class="help-block">Password should be minimum 6 characters long</p>
      </div>
      <!-- New password-->
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input ng-model="changePasswordModel.newPassword" type="password" class="form-control" name="newpassword" id="newpassword"  placeholder="New Password" required ng-minlength="6" ng-maxlength="100" ng-pattern="/^((?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).{6,})\S$/"/>
        </div>
        <p ng-show="changePasswordForm.newpassword.$invalid && !changePasswordForm.newpassword.$pristine && changePasswordForm.newpassword.$error.required" class="help-block">Password is required.</p>
        <p ng-show="changePasswordForm.newpassword.$error.maxlength" class="help-block">Password is too long. (maximum 100 characters allowed)</p>
        <p ng-show="changePasswordForm.newpassword.$error.pattern" class="help-block">Password should be minimum 6 characters long and consist of atleast 1 lowerxase, 1 uppercase alphabet and 1 number</p>
      </div>

      <!-- Confirm Password-->
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input ng-model="changePasswordModel.confirmPassword" type="password" class="form-control" name="confirmpassword" id="confirmpassword"  placeholder="Confirm Password" required="" password-compare="newpassword"/>
        </div>
        <p ng-show="changePasswordForm.confirmpassword.$error.passwordcompare" class="help-block">Passwords don't match</p>
      </div>

      <!-- Buttons -->
      <div class="form-group">
        <label class="control-label result-label"></label>
        <div class="">
          <button id="change-password-btn" name="changePasswordBtn" class="btn btn-primary" ng-click="changePasswordClick($event)" ng-disabled="changePasswordForm.$invalid || !changePasswordForm.$dirty">Change Password</button>
        </div>
      </div>
    </form>
  </div>
  <loader data-is-loading="isChangingPassword"></loader>
</div>
