<div class="forgot-password-page">
	<div class="row">
		<div class="col-sm-12">
			<brand-logo class="xs" data-logo="appLogo"></brand-logo>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default col-sm-6 col-sm-offset-3">
				<div class="panel-heading row">
					<h1 class="panel-title">Forgot Password.</small></h1>
				</div>
				<div class="panel-body row">
					<div>
						<form class="form" role="form" method="get" action="#" name="forgotPasswordForm">
							<div class="form-group">
								<label class="form-label">Please enter your User Name / Registered Email Id: </label>
								<input type="text" class="form-control" ng-model="userName" name="userName" id="userName" required/>
								<p ng-show="forgotPasswordForm.userName.$invalid && !forgotPasswordForm.userName.$pristine && forgotPasswordForm.userName.$error.required" class="help-block">User Name/Email is required.</p>
							</div>
							<button ng-disabled="!userName" type="button" class="btn btn-primary" ng-click="sendResetPasswordEmail($event)">Submit</button>
						</form>
					</div>
					<loader data-is-loading="isSendingEmail" data-message="Sending email. Please wait..."></loader>
				</div>
			</div>
		</div>
	</div>
</div>
