<div class="panel panel-default col-sm-8 col-sm-offset-2" user-login="">
	<div class="panel-heading row">
		<h1 class="panel-title">Please sign in</h1>
	</div>
	<div class="panel-body row">
		<div class="col-md-12">
			Login via
			<div class="social-buttons">
				<a href="#" class="btn btn-social btn-google"><i class="fa fa-google"></i> Google</a>
				<a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
				<a href="#" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
			</div>
            or
			 <form class="form" role="form" method="post" action="#" name="loginForm">
					<div class="form-group">
						 <label class="sr-only" for="UserName">Email address</label>
						 <input ng-model="loginInfo.userName" type="email" class="form-control" id="UserName" placeholder="Email address" required>
					</div>
					<div class="form-group">
						 <label class="sr-only" for="password">Password</label>
						 <input ng-model="loginInfo.password" type="password" class="form-control" id="password" placeholder="Password" required>
                         <div class="help-block text-right"><a href="">Forget the password ?</a></div>
					</div>
					<div class="form-group">
						 <button type="button" class="btn btn-primary btn-block" ng-click="loginSubmit($event)">Sign in</button>
					</div>
					<div class="checkbox">
						 <label>
						 <input type="checkbox"> keep me logged-in
						 </label>
					</div>
			 </form>
		</div>
		<div class="bottom text-center">
			New here ? <a ui-sref="register"><b>Join Us</b></a>
		</div>
	</div>
</div>