<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tasks"></i>Reset Password</h3>
  </div>
  <div class="panel-body">

    <form name="changePasswordForm" class="" role="form">

    	<!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="old-password">Old Password</label>
        <input id="old-password" name="oldPassword" type="password" placeholder="" class="form-control" required="" ng-model="changePasswordView.oldPassword">
        <span class="help-block"></span>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="new-password">New Password</label>
        <input id="new-password" name="newPassword" type="password" placeholder="" class="form-control" required="" ng-model="changePasswordView.newPassword">
        <span class="help-block"></span>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="confirm-password">Confirm Password</label>
        <input id="confirm-password" name="confirmPassword" type="password" placeholder="" class="form-control" required="" ng-model="changePasswordView.confirmPassword">
        <span class="help-block"></span>
      </div>

      <!-- Buttons -->
      <div class="form-group">
        <label class="control-label result-label"></label>
        <div class="">
          <button id="change-password-btn" name="changePasswordBtn" class="btn btn-primary" ng-click="changePassword($event)">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
