<div class="reset-password-page">
    <div class="row">
        <div class="col-sm-12">
            <brand-logo class="xs" data-logo="appLogo"></brand-logo>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default col-sm-6 col-sm-offset-3">
                <div class="panel-heading row">
                    <h1 class="panel-title">Reset Password.</small></h1>
                </div>
                <div class="panel-body row">
                    <div>
                        <form class="form" role="form" name="resetPasswordForm">
                            <!-- New password-->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input ng-model="resetPasswordModel.newPassword" type="password" class="form-control" name="newpassword" id="newpassword" placeholder="New Password" required ng-minlength="6" ng-maxlength="100" ng-pattern="/^((?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).{6,})\S$/" />
                                </div>
                                <p ng-show="resetPasswordForm.newpassword.$invalid && !resetPasswordForm.newpassword.$pristine && resetPasswordForm.newpassword.$error.required" class="help-block">Password is required.</p>
                                <p ng-show="resetPasswordForm.newpassword.$error.maxlength" class="help-block">Password is too long. (maximum 100 characters allowed)</p>
                                <p ng-show="resetPasswordForm.newpassword.$error.pattern" class="help-block">Password should be minimum 6 characters long and consist of atleast 1 lowerxase, 1 uppercase alphabet and 1 number</p>
                            </div>
                            <!-- Confirm Password-->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input ng-model="resetPasswordModel.confirmPassword" type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" required="" password-compare="newpassword" />
                                </div>
                                <p ng-show="resetPasswordForm.confirmpassword.$error.passwordcompare" class="help-block">Passwords don't match</p>
                            </div>
                            <!-- Buttons -->
                            <div class="form-group">
                                <label class="control-label result-label"></label>
                                <div class="">
                                    <button id="change-password-btn" name="changePasswordBtn" class="btn btn-primary" ng-click="resetPassword($event)" ng-disabled="resetPasswordForm.$invalid || !resetPasswordForm.$dirty">Reset Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <loader data-is-loading="isVerifying" data-message="Resetting password. Please wait..."></loader>
                </div>
            </div>
        </div>
    </div>
</div>
