<div class="well verify-email-page">
	<brand-logo data-logo="appLogo"></brand-logo>
	<div class="panel panel-default col-sm-6 col-sm-offset-3">
		<div class="panel-heading row">
			<h1 class="panel-title">Email Confirmation</small></h1>
		</div>
		<div class="panel-body row">
			<div ng-if="isVerified === false">
				<span class="label label-danger">Email-Verification Failed</span>
				<div class="text-primary">Please try again or Resend Confirmation e-mail and then verify again.</div>
				<div>
					<a href="/account/resendverifyemail" class="btn btn-primary">Resend Confirmation E-mail</a>
				</div>
			</div>

			<div ng-if="isVerified === true">
				<span class="label label-success">Your email is verified successfully</span>
				<a href="/account/login" class="btn btn-primary">Please Login here</a>
			</div>

			<loader data-is-loading="isVerifying" data-message="Verifying your email Id. Please wait..."></loader>
		</div>
	</div>
</div>
