.raiweb {
	.content-description, .content-short-description {
		img {
			max-width: 100%;
		}
	}

	.terms-conditions-section {
		h1, h2, h3 {
			color: @font-color-green;
		}

		a, a:hover {
			text-decoration: none;
		}

		ol {
			list-style: decimal;
		}
	}

	.profile-view {
		.panel {
			overflow: visible;

			.panel-body {
				overflow: visible;
			}
		}
	}

	.content-form, .content-preview, .content-list, .pub-content-list, .pubcontent-view {
		.thumbnail {
			padding: 0px;
			background-image: @grid-thumbnail-image;
			width: 100px;
			height: 100px;
			overflow: hidden;
		}

		a {
			h5.media-heading, h1, h2.media-heading {
				text-transform: uppercase;
				color: @font-color-green;
				font-weight: bold;
				font-size: 18px;
			}
		}

		.inline-view {
			a {
				h5.media-heading {
					font-size: 14px;
				}
			}
		}
	}

	.pubcontent-view {
		.thumbnail {
			padding: 0px;
			background-image: @grid-thumbnail-image;
			max-height: 200px;
			overflow: hidden;

			img {
				width: auto;
			}
		}
	}
}