.raiweb {
	.content-description, .content-short-description {
		img {
			max-width: 100%;
		}
	}

	.terms-conditions-section {
		h1, h2, h3 {
			color: darkgreen;
		}

		a, a:hover {
			text-decoration: none;
		}

		ol {
			list-style: decimal;
		}
	}

	.profile-view {
		.panel {
			overflow: visible;

			.panel-body {
				overflow: visible;
			}
		}
	}
}