.generic-list {
	.panel-heading {
		padding: 5px;

		.media {
			.media-left {
				.media-object {
					display: block;
					width: 40px;
					height: 40px;
					background-image: @site-sprite;
					background-position: -90px 0px;
				}
			}

			.media-body {
				.media-heading {
					font-size: 20px;
				}

				.summary {
					font-size: 10px;
				}
			}

			.media-right {
				.media-object {
					text-align: right;
					font-size: 10px;

					button {
						border-color: transparent;
						background-color: rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
	}

	.panel-body {
		.view-modes {
			.btn-toolbar {
				margin-bottom: 10px;

				.btn-group {
					float: right;
				}
			}
		}

		.item-list {

		}
	}

	&.panel-maximized {
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		overflow: auto;
	}
}