body {
    font-size: @font-size-normal;
    margin: 0px;

    &.app-body {
        .pub-landing-page {
            margin: 0px 10px;
        }

        .author-landing-page {

        }

        .help-block {
            color: red;
            font-size: 10px;
        }

        .navbar-brand {
            height: auto;
        }

        .well {
            padding: 5px;
            margin-bottom: 10px;
        }

        ul {
            padding: 4px;
        }

        ui-view {
            position: relative;
            display: block;
        }

        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
        }

        .h1, h1 {
            margin: 0px;
            padding: 10px;
            font-size: @font-size-h1;
            border: none;
        }

        .ui-view-contents {
            position: relative;
            display: block;
            padding-top: 15px;
        }

        .modal-header {
            .border-radiuses (5px, 0px, 0px, 5px);
        }

        .modal-body {
            img {
                max-width: 100%;
            }
        }
        .glyphicon {
            top: 0px;
        }

        .pagination {
            margin: 0px;
        }

        .panel {
            position: relative;
            overflow: hidden;
            margin-bottom: 10px;

            .panel-heading {
                overflow: hidden;
            }

            .panel-body {
                overflow: hidden;
            }

            .panel-footer {
                padding: 5px;
            }
        }

        .fa {
            margin-right: 5px;
        }

        .carousel {
            margin-bottom: 15px;

            &.slide {
                height: 200px;
            }

            a {
                cursor: pointer;
            }

            .carousel-inner {
                .item{
                    height: 200px;

                    .carousel-caption {
                        margin: 0px;
                        padding: 10px 30px;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        left: 0px;

                        &>h3 {
                            margin: 0px;
                            padding: 10px;
                        }

                        &>p {
                            margin: 0px;
                            padding: 10px;
                            color: #e2e2e2;
                        }
                        &>a {
                            position: absolute;
                            bottom: -2px;
                            right: 40px;
                        }
                    }
                }
            }

            .carousel-control {
                width: 30px;

                .glyphicon {
                    top: 50%;
                }

                &:hover {
                    color: #00b7f9;
                }
            }

            .carousel-indicators {
                bottom: 0px;

                li {
                    width: 20px;
                    height: 20px;

                    &:hover {
                        background-color: #00b7f9;
                    }
                }
            }
        }

        .app-footer {
            .section-categories, .section-social {
                ul {
                    list-style: none;

                    li {
                        padding: 2px;
                        text-align: center;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1)
                    }
                }
            }
        }

    }
}



