<ul class="feature-list small-thumb-mode" ng-if="!mode || mode === 'small-thumb-mode'">
	<li ng-repeat="feature in features" class="feature container-fluid">
		<a ui-sref="{{feature.stateName}}">
			<div class="row">
				<div class="icon col-xs-2">

				</div>
				<div class="col-xs-10">
					<div class="container-fluid">
						<div class="row">
							<h3 ng-bind="feature.name" title="{{feature.name}}" class="name col-xs-12"></h3>
						</div>
						<div class="row">
							<span ng-if="feature.author" class="author col-xs-6">
								<span class="label">Author: </span>
								<span ng-bind="feature.author" class="value"></span>
							</span>
							<span ng-if="feature.postedOn" class="postedon col-xs-6">
								<span class="label">Posted on: </span>
								<span ng-bind="feature.postedOn" class="value"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<p ng-bind-html="feature.shortDescription" class="short-description col-xs-12"></p>
			</div>
			<div class="row">
				<span class="more pull-right"">read more... </span>
			</div>
		</a>
	</li>
</ul>

<ul class="feature-list link-mode"  ng-if="mode === 'link-mode'">
	<li ng-repeat="feature in features" class="feature container-fluid">
		<a ui-sref="{{feature.stateName}}" title="{{feature.title}}" class="name" ng-if="feature.stateName">
			<span class="icon"></span> {{feature.name}}
		</a>
		<a href="{{feature.url}}" title="{{feature.title}}" class="name" ng-class="feature.id" ng-if="feature.url && !feature.stateName" target="_blank">
			<span class="icon"></span> {{feature.name}}
		</a>
	</li>
</ul>