<div class="panel panel-default generic-list {{itemsType}} {{isMaximized ? 'panel-maximized': ''}}">
	<!-- List Header -->
	<header class="panel-heading" ng-if="enableHeader">
		<div class="media">
			<div class="media-left">
				<span class="media-object"></span>
			</div>
			<div class="media-body">
				<h2 class="media-heading" ng-bind="headerTitle"></h2>
				<summary class="summary" ng-bind="headerSummary"></summary>
			</div>
			<div class="media-right">
				<div class="media-object">
					<section ng-if="enableMaximize">
						<button
							type="button"
							class="btn btn-default btn-xs"
							ng-click="onMaximizeClick($event)"
							title="{{isMaximized ? 'Restore': 'Maximize'}}">
							<span class="glyphicon glyphicon-resize-{{isMaximized ? 'small' :'full'}}"></span>
						</button>
					</section>
					<section>
						<span class="text-primary" ng-bind="headerRightLabel"></span>
					</section>
				</div>
			</div>
		</div>
	</header>

	<article class="panel-body">
		<!-- Inline Search -->
		<inline-search class="inline-search" ng-show="enableSearch"></inline-search>

		<!-- View Modes Toolbar -->
		<btn-toolbar
			ng-if="enableViewModes"
			class="view-modes"
			data-buttons="viewModes"
			data-on-select="viewModeChange"
			data-btn-size-class="btn-xs">
		</btn-toolbar>

		<!-- List Views -->
		<div tiny-scrollbar="" data-enable-scrollbar="enableScrollbar" data-scroll-height="scrollHeight">
			<article ng-include="currentListTemplate" class="item-list">
			</article>
		</div>

		<!-- No Data available -->
		<section class="no-data-section" ng-if="!items || items.length === 0">
			<span class="label label-danger">No data available</span>
		</section>
		<!-- Tags -->
		<tags data-tag-items="tags" ng-if="enableTags"></tags>

		<!-- Footer Link-->
		<a
			href="{{footerLinkUrl}}"
			class="btn btn-link pull-right"
			ng-click="footerLinkClick"
			ng-if="enableFooterLink">
			<span class="" ng-bind="footerLinkText"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</article>
	<!-- Panel Footer -->
	<footer class="panel-footer">
		<!-- Paging -->
		<span ng-show="enablePaging" class="footer-paging">
			<ul uib-pagination
				class="pagination-sm"
				boundary-link-numbers="true"
				rotate="true"
				total-items="pagingTotalItems"
				max-size="pagingPagerSize"
				items-per-page="pagingPageSize"
				ng-model="pagingSelectedPage"
				ng-change="pagingPageChange()">
			</ul>
		</span>
	</footer>
	<loader data-at-body="false" data-is-loading="isLoading" data-message=""></loader>
</div>