<div class="modal-header">
    <h3 class="modal-title" ng-bind="modalData.title"></h3>
</div>

<div class="modal-body">
<!-- Published Contents -->
  <div class="col-sm-12">
  	<upload-resource on-upload="modalData.uploadCallback"></upload-resource>
  </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()" ng-bind="modalData.okLabel" ng-show="modalData.okLabel"></button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss()" ng-bind="modalData.cancelLabel" ng-show="modalData.cancelLabel"></button>
</div>

