<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tasks"></i>Content Category Form</h3>
  </div>
  <div class="panel-body">

    <form name="categoryForm" class="" role="form">
      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="category-name">Name</label>
        <span id="category-name" name="categoryName" class="form-control" ng-bind="category.name"> </span>
        <span class="text-info">This will autogenerate while you type Title</span>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="category-title">Title</label>
        <input id="category-title" name="categoryTitle" type="text" placeholder="" class="form-control" required="" ng-model="category.title">
        <span class="help-block" ng-if="categoryForm.categoryTitle.$invalid">should not be empty and should not contain special characters</span>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="control-label" for="category-description">Description</label>
        <textarea class="form-control" id="category-description" name="categorydescription" ng-model="category.description"></textarea>
      </div>

      <!-- Button (Double) -->
      <div class="form-group">
        <label class="control-label" for="category-save"></label>
        <div class="">
          <button id="category-save" name="categorySave" class="btn btn-primary" ng-click="save($event)" ng-hide="category.categoryId">Save</button>
          <button id="category-update" name="categoryUpdate" class="btn btn-primary" ng-click="update($event)" ng-hide="!category.categoryId">Update</button>
          <button id="category-delete" name="categoryDelete" class="btn btn-primary" ng-click="delete($event)" ng-hide="!category.categoryId">Delete</button>
          <button id="category-cancel" name="categoryCancel" class="btn btn-danger" ng-click="cancel($event)">Cancel</button>
          <span class="pull-right">
            <button id="category-addnew" name="categoryAddnew" class="btn btn-primary" ng-click="addnew($event)" ng-hide="!category.categoryId">Add Another</button>
          </span>
        </div>
      </div>
    </form>
    <loader data-at-body="true" data-is-loading="isLoading" data-message="{{loaderMsg || ''}}"></loader>
  </div>
</div>
