<article class="question-form">
	<form class="" role="form" name="questionForm">
		<!-- Edit Mode -->		
		<div class="panel hide-not-imp question-edit-mode">
			<div class="panel-heading">
				<!-- Textarea -->
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-quora fa-lg" aria-hidden="true"></i>
							<span class="">{{serialNumber || ''}}: </span>										
						</span>
						<textarea data-on-instance-ready="descriptionEditorReadyPromise" class="form-control" id="question-description" name="questionDescription" ng-model="question.description"></textarea>
						<span class="help-block input-group-addon" ng-if="questionForm.questionDescription.$invalid">*</span>
						<span class="input-group-addon extend-input-btn" ng-click="extendInput($event, '#question-description')">
							<i class="fa fa-font" aria-hidden="true"></i>										
						</span>
					</div>				  
				</div>
			</div>
			<div class="panel-body">				
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<!-- Option A-->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="option-head">A)</span>										
									</span>
									<input id="option-A" name="optionA" type="text" placeholder="" class="form-control" required="" ng-model="question.optionA">									
									<span class="help-block input-group-addon" ng-if="questionForm.optionA.$invalid">*</span>
									<span class="input-group-addon extend-input-btn" ng-click="extendInput($event, '#option-A')">
										<i class="fa fa-font" aria-hidden="true"></i>										
									</span>
								</div>							  
							</div>
						</div>						
						<div class="col-sm-6">
							<!-- Option B-->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="option-head">B)</span>										
									</span>
									<input id="option-B" name="optionB" type="text" placeholder="" class="form-control" required="" ng-model="question.optionB">									
									<span class="help-block input-group-addon" ng-if="questionForm.optionB.$invalid">*</span>
									<span class="input-group-addon extend-input-btn" ng-click="extendInput($event, '#option-B')">
										<i class="fa fa-font" aria-hidden="true"></i>										
									</span>
								</div>							  
							</div>
						</div>
						<div class="col-sm-6">
							<!-- Option C-->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="option-head">C)</span>										
									</span>
									<input id="option-C" name="optionC" type="text" placeholder="" class="form-control" ng-model="question.optionC">
									<span class="input-group-addon extend-input-btn" ng-click="extendInput($event, '#option-C')">
										<i class="fa fa-font" aria-hidden="true"></i>										
									</span>
								</div>							  
							</div>
						</div>
						<div class="col-sm-6">
							<!-- Option D-->
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="option-head">D)</span>										
									</span>
									<input id="option-D" name="optionD" type="text" placeholder="" class="form-control" ng-model="question.optionD">
									<span class="input-group-addon extend-input-btn" ng-click="extendInput($event, '#option-D')">
										<i class="fa fa-font" aria-hidden="true"></i>										
									</span>
								</div>							  
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<!-- Radio Correct Answer-->							
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="">Correct Answer</span>										
									</span>
									<span class="form-control">
										<span class="radio-inline">
										 	<label><input type="radio" name="answer" value="A" ng-model="question.answer" required="">A</label>
										</span>
										<span class="radio-inline">
										 	<label><input type="radio" name="answer" value="B" ng-model="question.answer" required="">B</label>
										</span>									
										<span class="radio-inline">
										 	<label><input type="radio" name="answer" value="C" ng-model="question.answer" required="">C</label>
										</span>									
										<span class="radio-inline">
										 	<label><input type="radio" name="answer" value="D" ng-model="question.answer" required="">D</label>
										</span>	
									</span>								
									<span class="help-block input-group-addon" ng-if="questionForm.answer.$invalid">*</span>
								</div>							  
							</div>
						</div>
						<div class="col-sm-6">
						<!-- TextArea Answer Description-->
							<div class="form-group">
							  <div class="input-group">
									<span class="input-group-addon">
										<span class="option-head">Answer Description</span>										
									</span>
									<textarea data-on-instance-ready="answerDescriptionEditorReadyPromise" class="form-control" id="answer-description" name="answerDescription" ng-model="question.answerDescription"></textarea>
									<span class="input-group-addon extend-input-btn" ng-click="extendInput($event, '#answer-description')">
										<i class="fa fa-font" aria-hidden="true"></i>										
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">	
						<div class="col-sm-6">
							<!-- Question Tags -->							
							<div class="form-group">
							  	<div class="input-group">
									<span class="input-group-addon">
										<span class="option-head">Question Tags</span>										
									</span>
									<span class="">
										<ui-select id="question-tag-id" name="questionTags" class="" ng-model="question.tags" close-on-select="false" sortable="true" required multiple>
											<ui-select-match placeholder="Select Tags...">
												<span ng-bind="$item.title"></span>
											</ui-select-match>
											<ui-select-choices repeat="tag in (tags | filter: $select.search) track by tag.tagId">
												<span ng-bind="tag.title"></span>
											</ui-select-choices>
										</ui-select>
									</span>
									<span class="help-block input-group-addon" ng-if="questionForm.questionTags.$invalid">*</span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="well">Select from List. OR Create & Add your own Tags, just click <button type="button" id="question-add-tags" name="questionAddtags" class="btn btn-success" ng-click="showAddTags($event)">Add New Tags</button>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="hide-not-imp add-tags-form">
								<add-tags-form data-on-save="onAddNewTagsSave" data-on-cancel="onAddNewTagsCancel" ng-if="isAddNewTagsVisible"></add-tags-form>
							</div>
						</div>
					</div>										
				</div>

				<!-- Button (Double) -->
				<div class="form-group">
					<div class="pull-right">						
						<button id="question-preview-btn" 
							name="questionPreviewBtn" 
							type="button" 
							class="btn btn-primary" 
							ng-click="preview($event,true)" 
							title="Preview Question">
							<i class="fa fa-television fa-lg" aria-hidden="true"></i>
						</button>	
						<button id="question-save-btn" 
							name="questionSaveBtn" 
							type="submit" 
							class="btn btn-success" 
							ng-click="save($event,true)" 
							title="Save Question" 
							ng-show="enableSave" 
							ng-disabled="questionForm.$invalid || questionForm.$pristine">
							<i class="fa fa-save fa-lg" aria-hidden="true"></i>
						</button>										
					</div>
				</div>				
				<loader data-at-body="true" data-is-loading="isLoading" data-message="{{loaderMsg || ''}}"></loader>
			</div>
		</div>

		<!-- Preview Mode -->
		<div class="form-group hide-not-imp question-preview-mode">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-quora fa-lg" aria-hidden="true"></i>
					<span class="">{{serialNumber || ''}}: </span>										
				</span>
				<span class="form-control description-preview">
					<span ng-bind-html="question.description || '&nbsp;'"></span>
				</span>
				<span class="input-group-btn">
					<button id="question-edit-btn" type="button" name="questionEditBtn" class="btn btn-primary" ng-click="preview($event,false)" title="Edit Question">
						<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
					</button>
				</span>
			</div>				  
		</div>
	</form>

</article>
