<div class="comment-component container-fluid">
  <h1>Comments:</h1>
  <!-- Comment List -->
  <ul class="media-list comments-list">
    <li class="media comment" ng-repeat="comment in currentComments" on-ng-repeat-item="onCommentsListLoaded">
      <a class="pull-left user-photo" ui-sref="pub.myspace({n:comment.owner.userName})">
        <img 
          class="media-object img-circle" 
          ng-src="{{getUserThumbnailUrl(comment.owner.userName)}}" 
          alt="user profile"
          onerror="this.style.display = 'none';"
          onload="this.style.display = 'block';">
      </a>
      <div class="media-body comment-body">
        <div class="well well-lg">
          <h3 class="user-name label label-info">Posted by: <span ng-bind="comment.owner.userName"></span></h3>            
          <h3 class="posted-date label label-warning">Posted on: <span ng-bind="comment.postedDate.toDateString()"></span></h3>            
          <p class="comment-content" ng-bind-html="comment.description">             
          </p>
        </div>              
      </div>    
    </li>
    <li class="media comment" ng-show="isLoading">
      <div class="loader text-center">
        <span>
          <span class="fa fa-spinner fa-spin"></span>     
        </span>
        <div ng-bind="message" class="message" ng-show="message"></div>
      </div>
    </li>
  </ul> 

  <div class="container-fluid"  ng-show="!isLoading">
    <div class="row">
      <div class="col-sm-8">
        <form class="comment-form" role="form" name="commentForm">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <h1 class="control-label" for="comment-description">Your Comment:</h1>
                    <textarea ck data-on-instance-ready="" data-mode="comment" class="form-control" id="comment-description" name="commentDescription" ng-model="comment.description"></textarea>
                </div>
                <div class="form-group">
                  <button id="comment-save" name="commentSave" class="btn btn-success btn-circle text-uppercase" ng-disabled="isAnonymous()" ng-click="saveComment($event)"><span class="glyphicon glyphicon-send"></span> Post Comment</button> 
                  <span class="alert alert-danger fade in" ng-show="isAnonymous()">Please Sign In, to post a comment.</span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <loader data-at-body="true" data-is-loading="isLoading" data-message="{{loaderMsg || ''}}"></loader>
      </div>
      <div class="col-sm-4 text-center">
        <!-- Add here Login or Register Buttons to take user to Login or Register Page-->
        <form class="login-box-form well" role="form" name="authenticationBoxForm" ng-show="isAnonymous()">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">              
                <div class="form-group">
                  <h2 class="control-label" for="loginBtn">Already Registered?</h2>
                  <button id="login-btn" name="loginBtn" class="btn btn-success btn-circle text-uppercase" ng-click="goToLogin($event)"><span class="fa fa-user"></span>Sign in</button>  
                </div>
                <div><h2>OR</h2></div>
                <div class="form-group">
                  <h2 class="control-label" for="registerBtn">New here?</h2>
                  <button id="register-btn" name="registerBtn" class="btn btn-primary btn-circle text-uppercase" ng-click="goToRegister($event)"><span class="fa fa-user"></span>Sign up</button>  
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="well" ng-show="!isAnonymous()">
          Please be responsible, posting comments.          
        </div>
      </div>
    </div>
  </div>
  <!-- Comment Box -->

</div>