<div class="resource-list">
	<inline-search></inline-search>

	<btn-toolbar
		data-buttons="modes"
		data-on-select="onModeChange"
		data-btn-size-class="btn-xs">
	</btn-toolbar>

	<ul class="media-list {{mode}}" ng-if="!mode || mode === 'default'">
		<li class="media {{selectedResource && selectedResource.contentResourceId === contentResource.contentResourceId ? 'active': ''}}" ng-repeat="contentResource in resourceItems | filter: resourceFilter" on-ng-repeat-item="onRepeatItemsLoaded">
			<div class="media-left">
				<a href="#" ng-click="onClick($event, contentResource)">
					<img class="media-object" src="{{contentResource.resourceThumbnail}}" alt="{{contentResource.name}}"></img>
				</a>
			</div>
			<div class="media-body">
				<a href="#" ng-click="onClick($event, contentResource)">
					<h5 class="media-heading text-primary" title="{{contentResource.name}}" ng-bind="contentResource.name"></h5>
				</a>
				<div>
					<span class="label label-info"> Size: <span>{{contentResource.size}} <small>bytes</small></span></span>
					<span class="label label-info"> Type: <span ng-bind="contentResource.extension"></span></span>
				</div>
			</div>
		</li>
	</ul>
<!-- mini Mode-->
	<ul class="media-list {{mode}}" ng-if="mode === 'mini'">
		<li class="media {{selectedResource && selectedResource.contentResourceId === contentResource.contentResourceId ? 'active': ''}}" ng-repeat="contentResource in resourceItems | filter: resourceFilter" on-ng-repeat-item="onRepeatItemsLoaded">
			<div class="media-left">
				<a href="#" ng-click="onClick($event, contentResource)">
					<img class="media-object" src="{{contentResource.resourceThumbnail}}" alt="{{contentResource.name}}"></img>
				</a>
			</div>
			<div class="media-body">
				<a href="#" ng-click="onClick($event, contentResource)">
					<h5 class="media-heading text-primary" title="{{contentResource.name}}" ng-bind="contentResource.name"></h5>
				</a>
			</div>
		</li>
	</ul>
<!-- mini Mode-->
	<ul class="row {{mode}}" ng-if="mode === 'grid'">
		<li class="thumbnail {{selectedResource && selectedResource.contentResourceId === contentResource.contentResourceId ? 'active': ''}}" ng-repeat="contentResource in resourceItems | filter: resourceFilter" on-ng-repeat-item="onRepeatItemsLoaded">
			<div class="grid-content">
				<a href="#" ng-click="onClick($event, contentResource)">
					<img class="media-object" src="{{contentResource.resourceThumbnail}}" alt="{{contentResource.name}}"></img>
					<h5 class="media-heading text-primary" title="{{contentResource.name}}" ng-bind="contentResource.name"></h5>
					<span class="label label-info size"> Size: <span>{{contentResource.size}} <small>bytes</small></span></span>
					<span class="label label-info type"> Type: <span ng-bind="contentResource.extension"></span></span>
				</a>
			</div>
		</li>
	</ul>

	<loader data-at-body="false" data-is-loading="isLoading" data-message="loading resources..."></
</div>